*{
    margin: 0px;
    padding: 0px;
    font-family: 'ADLaM Display', cursive;
    font-family: 'Pacifico', cursive;
   
}

.body{
    background: #EDECCE;
    margin: 20px;
}


.contenido{
    margin: 11px;
    padding: 32px;
    background: #C9F2A5;
   
}

.contenido_cabecera{
    display: grid;
    transform: skewY(5deg);
    place-items: center;

}

.grid-layout{
    display: grid;
    width: 80%;
    margin: 80%;
    background-color: #A0DBA9;
    padding: 20px;
    border: 1px solid black;
}

img {
    width: 100%; /* Ajustar al ancho del contenedor */
    max-width: 500px; /* Establecer un ancho máximo */
    border: 1px solid #ccc; /* Agregar un borde */
    margin: 10px; /* Agregar margen exterior */
}

.cabecera{
    display: grid;
    background: #A0DBA9;
    grid-area: cab;
    transform: skewY(-5deg);
    place-items: center;
    
}

.section{
    margin: 41px;
    display: grid;
    grid-area: sec;
    background: #C9F2A5;
    place-items: center;
}

.columns {
    column-count: 2; /* Dividir en dos columnas */
    column-gap: 20px; /* Espacio entre columnas */
    background: #758e72;
}

.image-container{
 display: grid;
 place-items: right;
}
